# Ignora los archivos de imagenes
# *.png
# *.svg
# *.jpeg
# *.jpg

# Ignora los archivos de video
# *.wmv
# *.mp4
# *.ogg

# Ignora los archivos de musica
# *.mp3
# *.wma

# Ignora archivos del sistema Mac 
# .DS_store

# Ignora la carpeta node_modules
# node_modules

# Ignora todos los archivos de texto
# *.txt

# Ignora los archivos relacionados a API keys
# .env

# Ignora archivos de configuración SASS
# .sass-cache